schema_version: 2
name: {{ workspace_name }}
created: "{{ today }}"
plugin_version: {{ plugin_version }}
package_path: {{ package_path }}
phases: []
observables: []
visualizations: []
simulations: []
datasets: []
references_bib: references/papers.bib
server:
  enabled: false
